<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to Exam One of Programming III</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">

<link rel="stylesheet" href="css/styles.css">

<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js">
	
</script>
</head>
<body>

	<!-- Navbar -->
	<header class="p-3 text-bg-dark bg-opacity-50 mt-5 fs-4 fontClass">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
			<div
				class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
				<ul class="navbar-nav ml-auto text-center">
					<li class="nav-item active"><a class="nav-link" href="#">Link</a>
					</li>
				</ul>
			</div>
			<div class="mx-auto my-2 order-0 order-md-1 position-relative">
				<a class="mx-auto" href="#"> <img
					src="images/indexImage.jpg" width="120px" height="120px" class="rounded-circle">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target=".dual-collapse2">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div
				class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
				<ul class="navbar-nav mr-auto text-center">
					<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<section layout:fragment="content"></section>

	<!-- Navbar -->

	<!--boot strap javascript  -->
	<script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.js"></script>
</body>
</html>