<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <style>
        body {
            background-image: url("/images/dashboardBg.jpeg");
            background-repeat: no-repeat;
            background-position: 70% 70%;
            background-size: cover;
            font-family: "Georgia", Times, serif;
        }
    </style>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <section class="container mt-5">
        <div class="accordion" id="accordionAppointments">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFuture">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFuture"
                            aria-expanded="true" aria-controls="collapseFuture">
                        <img src="/images/app_logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-"> Upcoming
                        Appointments
                    </button>
                </h2>
                <div id="collapseFuture" class="accordion-collapse collapse show" aria-labelledby="headingFuture"
                     data-bs-parent="#accordionAppointments">
                    <div class="accordion-body p-0">
                        <table class="table align-middle text-center mb-0 bg-white rounded-top">
                            <thead class="bg-dark text-white">
                            <tr>
                                <th>Client Name</th>
                                <th>Appointment ID</th>
                                <th>Appointment Date</th>
                                <th>Appointment Time</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="appointment:${futureAppointments}">
                                <td th:text="${appointment.fullName}">
                                    <div class="d-flex align-items-center">
                                        <p class="fw-bold mb-1">Client Name</p>
                                    </div>
                                </td>
                                <td th:text="${appointment.id}">
                                    <p class="fw-normal mb-1">Appointment ID</p>
                                </td>
                                <td th:text="${appointment.appDate.toString().substring(0, 10)}">
                                    <p class="fw-normal mb-1">Appointment Date</p>
                                </td>
                                <td th:text="${appointment.appTime}">
                                    <p class="fw-normal mb-1">Appointment Time</p>
                                </td>
                                <td>
                                    <a class="text-white btn btn-primary" th:href="@{'/edit_appoint/' + ${appointment.id}}">Edit</a>
                                    &nbsp;
                                    <a class="text-white btn btn-primary" th:href="@{'/delete_appoint/' + ${appointment.id}}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-5">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        <img src="/images/app_logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-"> Past
                        Appointments
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionAppointments">
                    <div class="accordion-body p-0">
                        <table
                                class="table align-middle text-center mb-0 bg-white rounded-top">
                            <thead class="bg-light">
                            <tr class="bg-dark text-white">
                                <th>Client Name</th>
                                <th>Appointment ID</th>
                                <th>Appointment Date</th>
                                <th>Appointment Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="appointment:${pastAppointments}">
                                <td th:text="${appointment.fullName}">
                                    <div class="d-flex align-items-center">
                                        <p class="fw-bold mb-1">Client Name</p>
                                    </div>
                                </td>
                                <td th:text="${appointment.id}">
                                    <p class="fw-normal mb-1">Appointment ID</p>
                                </td>
                                <td th:text="${appointment.appDate.toString().substring(0, 10)}">
                                    <p class="fw-normal mb-1">Appointment Date</p>
                                </td>
                                <td th:text="${appointment.appTime}">
                                    <p class="fw-normal mb-1">Appointment Time</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>