@charset "ISO-8859-1";


.fontClass {
	font-family: "Georgia", Times, serif;
}

a.nav-link {
	color: #edd881 !important;
	
}

a.nav-link:hover {
	color: white !important;
	
}

.topnav-right {
  float: right;
}


