<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/5.2.2/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container text-center">
<h3>Your appointment is booked successfully!</h3>
</div>
</body>
</html>