<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/header}">

<head>
<!-- <link rel="stylesheet" th:src="@{css/styles.css}"> -->
<style>

body {
	background-image: url("/images/indexImage.jpg");
	background-repeat:no-repeat;
	background-position: 0 0;
	background-size: cover;
}

</style>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="my-5">
			<div class="container">
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor exercitationem fugiat maxime minima
					modi natus quos voluptas voluptatem. Enim facere molestiae ratione. Animi consequatur dolores eius
					labore placeat tempora tempore.
				</div>
				<div>Autem debitis doloremque facilis impedit, in ipsa ipsum iste itaque labore minus nisi omnis, quam
					quidem quo ratione, soluta temporibus vero. Amet dolorem exercitationem illum ipsa molestias nemo
					quis sed!
				</div>
				<div>Ab commodi, consequuntur iste maxime nostrum possimus quaerat quam reiciendis. Aliquid consequuntur
					culpa, delectus eos error ex labore minus modi, nesciunt nihil nobis non odio quidem quis rerum sint
					tenetur?
				</div>
				<div>Accusantium commodi consequatur eaque excepturi explicabo inventore ipsa officiis, reprehenderit
					voluptates voluptatibus. Doloremque facilis hic libero molestias obcaecati rerum unde? Excepturi
					fuga ipsam possimus quia! Laboriosam mollitia non officia quis?
				</div>
				<div>Autem, debitis fuga id illum magnam maxime optio sint tenetur. Aliquid culpa delectus dolore eos ex
					harum illo, iusto labore maiores nihil provident quas reprehenderit sed. Incidunt nisi pariatur
					quibusdam!
				</div>
			</div>
		</section>
	</div>
</body>
</html>