<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	layout:decorate="~{layouts/header}">

<head>
<!-- <link rel="stylesheet" th:src="@{css/styles.css}"> -->
<style>

body {
	background-image: url("/images/indexImage.jpg");
	background-repeat:no-repeat;
	background-position: 0% 0%;
	background-size: cover;
}

</style>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		Aftab
		<h3>new test</h3>
		<section class="my-5">
			<div class="container">
				
			</div>
		</section>
	</div>
</body>
</html>